
<div class="container-booking">
  <H1 id="couleur_titre">Panier</H1>
  <br/>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Montre</th>
          <th scope="col">Modèle</th>
          <th scope="col">Date</th>
          <th scope="col">Prix</th>
          <th scope="col">Statut</th>
          <th scopre="col">Annulation</th>
        </tr>
      </thead>
      <tbody>
            <% @booking_item.each do |id| %>
              <%  if BookingItem.find(id).watch %>
        <tr>
          <th scope="row">1</th>
          <td><%=  BookingItem.find(id).watch.brand %></td>
          <td><%=  BookingItem.find(id).watch.model.truncate_words(3) %></td>
          <td><%= @booking.created_at %></td>
          <td><%= @booking.price_total %>€</td>
          <td><%= @booking.status %></td>
          <td><%= link_to 'Annulation', watch_booking_item_path(@booking_item), method: :delete, data: {confirm: "Êtes-vous sur dee vouloir supprimer cette montre ?"} %></td>
        </tr>
              <% end %>
            <% end %>



      </tbody>
    </table>
</div>

<div class="container-paiement">

            <td><button type="button" class="float-right btn btn-flat" id="button_paiement">Paiement</td>

</div>

