<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner-home.jpg", height: 200, width: 1080 %>')">
  <div class="container">
    <h1>Et vous, quelle montre allez-vous louer ?</h1>
    <%= link_to 'Voir les montres', watches_path, class:'btn btn-flat' %>
    <div id="container">
    </div>
  </div>
</div>
<div class="container mt-5">
      <section class="features-block">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-left">
              <h1>GOLD WATCH</h1>
              <p class="lead">Pour la saison des fêtes, achetez des accessoires sur golwatch.fr. Un large gamme de montres de luxe à disposition pour les curieux, les passionnés d'horlogerie et de système complexe. Louer votre montre sur GW et vivez une expérience inoubliable pour une occassion spéciale.</p>
            </div>
          </div>

          <div class="row text-left mt-5">
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0">
              <%= image_tag "home-images/searching.svg", width: 230 %>
              <h3><strong>1 - Rechercher votre montre</strong></h3>
              <p>Parmi une large gamme de montres de luxe à disposition, choisissez parmi des marques connues comme IWC, Tag Huer, Rolex ...</p>
            </div>

            <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto pt-5 pt-md-0">
              <%= image_tag "home-images/rent.svg", width: 230 %>
              <h3><strong>2 - Louer votre montre</strong></h3>
              <p> La location de montres de luxe n'a jamais été aussi simple avec Gold watch ! Ne pas oublier le dépôt de garantie prévu pour sécuriser la location.</p>
            </div>

            <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
              <%= image_tag "home-images/horloger.svg", width: 230 %>
              <h3><strong>3 - Récupérer chez l'horloger</strong></h3>
              <p>Notre réseaux d'horlogers répartis dans tout Paris, va vous permettre d'aller récupérer votre montre chez un spécialiste.</p>
            </div>
          </div>
        </div>
      </section>
</div>
<div class="banner-features" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner-features.jpg", height: 500, width: 1080 %>')">
  <div class="container">
    <h1>Pour une occasion, démarquez-vous</h1>
    <p>Louez nos montres de luxe avec le réseau d'horlogers</p>
  </div>
</div>

<section class="companies">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h3><strong>Ils nous font confiance</strong></h3>

        <div class="mt-5 justify-content-center">
          <%= image_tag 'companies/iwc.svg', width:'100', class:'m-3' %>
          <%= image_tag 'companies/audemars-piguet.svg', width:'100', class:'m-3'  %>
          <%= image_tag 'companies/omega.svg', width:'100', class:'m-3'  %>
        </div>
        <div class="md-5 justify-content-center">
          <%= image_tag 'companies/rolex.svg', width:'100', class:'m-3'  %>
          <%= image_tag 'companies/tag-heuer.svg', width:'100', class:'m-3'  %>
          <%= image_tag 'companies/tissot.svg', width:'100', class:'m-3' %>
        </div>
      </div>
    </div>
  </div>
</section>



