<div class="searchbar-div">
  <%= form_tag watches_path,class:"form-inline my-2 my-lg-0", id:"search_field", method: :get do %>
      <%= text_field_tag :query,
      params[:query], style:'width:1080px',
      class: "form-control",
      type: "search",
      placeholder: "ex: Rolex Submariner ..." %>

    <%= submit_tag "Search", class: "btn btn-flat" %>
  <% end %>
</div>

<div class="container">
  <div class="cards">
    <% @watches.each do |watch| %>
    <%= link_to watch_path(watch) do %>
      <div class="card d-flex justify-content-around align-items-center">
        <%= cl_image_tag watch.photo.key, height: 200, width: 210, crop: :fill %>
        <div class="card-body text-center">
          <p class="card-text1 text-center"><%= watch.brand %></p>
          <p class="card-text2 text-center"><%= watch.model.truncate_words(2) %><br/></p>
            <small class="text-muted text-center"><%= watch.price %> €</small>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
