<div class="searchbar-div">
    <%= form_tag watches_path, class:"form-inline my-2 my-lg-0", id:"search_field", method: :get do %>
      <%= text_field_tag :query,
      params[:query], style:'width: 600px; height: 51px;',
      class: "form-control",
      type: "search",
      placeholder: "ex: Rolex Submariner ..." %>

      <%= submit_tag 'Rechercher', class: "btn btn-low" %>
  <% end %>
</div>



<div class="container">
      <div class="card">
      <div class="card-body row ">
          <div class="col-sm-12 col-md-6" id="image-container">
                <div id="main-img">
                     <%= cl_image_tag @watch.photo.key, height: 500, width: 400, crop: :fill %>
              </div>
              <!-- Wishlist -->
              <% if !current_user.bookmarks.pluck(:watch_id).include?(@watch.id) %>
                <%= link_to watch_bookmarks_path(@watch), method: :post do %>
                  <span id="favorite-button" class="btn"><i class="fa fa-heart grey-heart"></i></span>
                <% end %>
              <% else %>
                  <span id="favorite-button" class="btn"><i class="fa fa-heart red-heart"></i></span>
              <% end %>
              <!-- END Wishlist -->
          </div>
          <div class="col-sm-12 col-md-6" id="product-information">
             <h2 class="p-0 m-0" id="product-title"><%= @watch.brand %></h2>
              <span id="product-short"><small><%= @watch.model %></small></span>
            <div class="container-fluid">
                          <div class="row">
                            <span id="old-price" class="text-danger"></span><h5 id="price"><%= @watch.cost_per_day %> €/jour</h5>
                          </div>
            </div>
             <div id="product-variables">
                 <p><%= @watch.description %></p>

                 <div id="text">

                 </div>
             </div>

                <hr class="divider-featurette">
<div id="add-to-cart">
            <%= simple_form_for([@booking, @booking_item]) do |f| %>
              <%= f.input :watch_id, as: :hidden %>
              <div class="duration-location">
                <h2>Période de location</h2>
                <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, label: false, placeholder: "Début de location" %>
                <%= f.input :end_date, as: :string, label: false, placeholder: "Fin de location" %>
                </div>
              </div>
              <hr class="divider-featurette">
              <%= f.submit 'Ajouter au panier', class: "btn-panier btn btn-flat"  %>
            <% end %>
          </div>
        </div>

          </div>
      </div>
  </div> <!-- end card -->
</div>




<div class="container-watch">
    <div class="col">
            <h2 style="color:white" class="text-center">Voulez-vous faire partie de notre réseau ?</h2><br/>
            <p style="color:white" class="text-center">Près de 150 horlogers nous font confiance pour louer leurs montres de luxe</p>
              <button class="btn btn-low-2">En savoir plus </button>
    </div>
</div>

<div class="container">
    <h1 class="text-center pt-5">Votre magasin :</h1>
  <div class="card">
  <div class="card-body row ">
          <div class="col-sm-12 col-md-6" id="image-container">
                <div id="main-img">
                    <%= image_tag 'map.png', width: 400, class:'m-3'%>
              </div>
              <div class="container-fluid">
                  <div class="row mx-auto" id="thumbnail-container">
                       <p><strong>Adresse :</strong> <%= @watch.shop.address %></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6" id="product-information">
             <h2 class="p-0 m-0" id="product-title"><%= @watch.shop.name %></h2>
              <span id="product-short"><small>
Boutique de Montres et bijoux de luxe : Horlogerie, Joaillerie</small></span>
            <div class="container-fluid">
                          <div class="row">


                          </div>
            </div>
             <div id="product-variables">
                 <p>Expert depuis plus de 50 ans dans ce domaine, ce magasin spécialisé dans l'horlogerie saura vous proposer la montre parfaite pour votre évènement.</p>

                 <div id="text">

                 </div>
             </div>

               <div id="add-to-cart" class="">

                   <button class="btn btn-flat"> <%=link_to "En savoir plus" %></button>

               </div>


              </div>
    </div>
  </div>
</div>


</div> <!-- end container-->
  </div> <!-- end card -->
</div> <!-- end container-->

