<div class="banner-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner-dashboard.jpg", height: 200, width: 1080 %>')">
  <div class="container">
    <p class="banner-dashboard-text"> / Dashboard</p>
  </div>
</div>

<div class="container container-dashboard">
  <div class="row profile" display="flex">
    <div class="col-md-3 mt-0">
      <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->

            <div class="profile-userpic row justify-content-center" >
              <%= image_tag current_user.photo, crop: :fill if current_user.photo.attached? %>
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
              </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->

            <div class="profile-userbuttons">
                <p><%= current_user.name %></p>

              <%= link_to 'Les montres', watches_path, class:"btn btn-flat m-2" %>


            </div>
                 <div class="portlet light bordered">
                                                      <!-- STAT -->
                <div class="row list-separated profile-stat">

                </div>
                <!-- END STAT -->
          <div>
            <h6 class="profile-desc-title text-center">A propos de moi</h6>
            <span class="profile-desc-text pl-3"><%= current_user.description %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="profile-content">
        <div class="container mt-5">
          <h1>Mes commandes</h1>
              <%= form_tag dashboard_path, method: :get do %>
                <%= select_tag :status, options_for_select(['pending', 'paid']),
                  class: "form-control"
                %>
                <%= submit_tag "Search", class: "button" %>
              <% end %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Statut</th>
                <th scope="col">Prix</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
                <th scope="col">Produit</th>
                <th scope="col">Détails</th>
              </tr>
            </thead>
            <tbody>
              <% @bookings.each_with_index do |b, index| %>
                <tr class="<%= b.status %>">
                <% if b.booking_items.count != 0 %>

                  <td>
                    <% if b.status == 'pending' %>
                      <%= "🔴" %>
                    <% else %>
                      <%= "🔵" %>
                    <% end %>
                  </td>

                <% unless b.booking_items.empty? %>
                  <td><%= b.price_cents%>€ </td>
                <% end %>


                <% if b.booking_items.first.start_date != nil %>
                  <td><%= b.booking_items.first.start_date.strftime("%d/%m/%Y") %></td>
                  <td><%= b.booking_items.first.end_date.strftime("%d/%m/%Y") %></td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>

                <td>
                  <%= b.booking_items.count  %>
                </td>

                <td>
                  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal-<%= b.id %>">
                    Voir détails
                  </button>
                </td>
              <!-- Modal -->
                <td>
                  <div class="modal fade" id="modal-<%= b.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"></h5>
                          <div class="modal-body">
                              <% key = "collapse#{b.id}" %>

                              <div  id='<%= key %>' >
                                <div class="card-body">

                                  <% b.watches.each do |watch| %>
                                  <li>
                                    <strong><%= watch.brand %></strong>
                                  </li>
                                  <%= watch.model %>
                                  <% end %>

                                </div>
                                <br>

                                <% if b.status == 'pending' %>
                                  <%= link_to'Voir panier', booking_path(@booking), class:"btn basket btn-dark btn-sm m-2" %>
                                <% end %>
                              </div>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
          <!-- Fin Modal -->
                <% end %>
              </div>
              </tr>
                <% end %>
            </tbody>
          </table>
        </div>


        <div class="container mt-5">
          <h1>Commentaires</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="media text-muted pt-3">
                      <%= image_tag "https://avatars2.githubusercontent.com/u/54837955?v=4", class: "avatar-bordered mr-3", alt: "avatar-bordered" %>
                      <p class="media-body pb-3 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">@Muriel | Champs d'Or</strong>
                        <%= current_user.name %> est un bon client ! Il est revenu deux fois pour louer la même montre IWC
                      </p>
                    </div>
                </th>
                <th scope="col">
                  <div class="media text-muted pt-3">
                      <%= image_tag "https://res.cloudinary.com/anniou/image/upload/v1575040494/NTmAjBZhKjdHvRw2iZ2cyfkz.jpg", class: "avatar-bordered mr-3", alt: "avatar-bordered" %>
                      <p class="media-body pb-3 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">@Bernard | Horloger Paris Premium</strong>
                        <%= current_user.name %> a rendu la montre sans aucune égratinure ! Un client sérieux .
                      </p>
                    </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="container mt-5">
          <h1>Wishlist</h1>
          <table class="table">
            <thead>
              <tr>
                  <% current_user.bookmarks.each do |bookmark| %>
                <th scope="col">
                    <div class="media text-muted pt-3">
                        <%= cl_image_tag bookmark.watch.photo.key, class: "avatar-bordered mr-3", height: 46, width: 40 %>
                        <p class="media-body pb-3 mb-0 small lh-125">
                          <strong class="d-block font-weight-bold">
                            <%= bookmark.watch.brand %> </strong>
                            <%= bookmark.watch.price %> €
                          <%= link_to '<i class="far fa-times-circle"></i>'.html_safe, bookmark_path(bookmark), method: :delete, data: {confirm: "Êtes-vous sur de vouloir supprimer la montre ?"}%>
                        </p>
                      </div>
                    <% end %>
                </th>
              </tr
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

