<div class="container container-dashboard">
  <div class="row profile" display="flex">
    <div class="col-md-3 mt-0">
      <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->

            <div class="profile-userpic row justify-content-center" >
              <%= image_tag current_user.photo, crop: :fill if current_user.photo.attached? %>
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
              </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->

            <div class="profile-userbuttons">
                <p><%= current_user.name %></p>
              <%= link_to 'Les montre disponibles', watches_path, class:"btn btn-success btn-sm m-2" %>

            </div>
                 <div class="portlet light bordered">
                                                      <!-- STAT -->
                <div class="row list-separated profile-stat">

                </div>
                <!-- END STAT -->
          <div>
            <h6 class="profile-desc-title text-center">About me</h6>
            <span class="profile-desc-text pl-3"><%= current_user.description %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="profile-content">
        <div class="container mt-5">
          <h1>Mes commandes</h1>

              <select id="status-filter-btn">
                <option value="#">select a status:</option>
                <option value="pending">pending ⚫️</option>
                <option value="confirmed">paid 🔵</option>
              </select>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Statut</th>
                <th scope="col">Price</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
                <th scope="col">Quantité</th>
              </tr>
            </thead>
            <tbody>
                <% @bookings.each_with_index do |b, index| %>
              <tr class="<%= b.status %>">

                <td>
                  <% if b.status == 'pending' %>
                    <%= "⚫️" %>
                  <% else %>
                    <%= "🔵" %>
                  <% end %>
                </td>
                <td><%= b.price_total%>€ </td>
                <td><%= b.booking_items.first.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= b.booking_items.first.end_date.strftime("%d/%m/%Y") %></td>


                <td>
                  <div id="accordion">
                    <% key = "collapse#{b.id}" %>
                    <button class="btn btn-link" data-toggle="collapse" data-target='#<%= key %>' aria-expanded="true" aria-controls='<%= key %>'>
                      <%= b.booking_items.count %>

                    </button>
                        <div id='<%= key %>' class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <%= b.watches.count %>
                            <% b.watches.each do |watch| %>
                            <%= watch.brand %>
                            <% end %>
                          </div>
                        </div>
                  </div>
                </td>
              </tr>
                <% end %>
            </tbody>
          </table>
        </div>
        <div class="container mt-5">
          <h1>Commentaires</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="media text-muted pt-3">
                      <%= image_tag "https://avatars2.githubusercontent.com/u/54837955?v=4", class: "avatar-bordered mr-3", alt: "avatar-bordered" %>
                      <p class="media-body pb-3 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">@Muriel | Champs d'Or</strong>
                        <%= current_user.name %> est un bon client ! Il est revenu deux fois pour louer la même montre IWC
                      </p>
                    </div>
                </th>
                <th scope="col">
                  <div class="media text-muted pt-3">
                      <%= image_tag "https://res.cloudinary.com/anniou/image/upload/v1575040494/NTmAjBZhKjdHvRw2iZ2cyfkz.jpg", class: "avatar-bordered mr-3", alt: "avatar-bordered" %>
                      <p class="media-body pb-3 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">@Bernard | Horloger Paris Premium</strong>
                        <%= current_user.name %> a rendu la montre sans aucune égratinure ! Un client sérieux .
                      </p>
                    </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
          <div class="container mt-5">
          <h1>Whishlist</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <div class="media text-muted pt-3">
                      <%= image_tag "https://res.cloudinary.com/anniou/image/upload/v1575040522/3MT94ypFYomCqRy4rwuVqfoW.png", class: "avatar-bordered mr-3", alt: "avatar-bordered" %>
                      <p class="media-body pb-3 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">BRAND| MODEL</strong>
                        Description de la montre ...
                      </p>
                    </div>
                </th>
                <th scope="col">
                  <div class="media text-muted pt-3">
                      <%= image_tag "https://res.cloudinary.com/anniou/image/upload/v1575040519/hepWZbgYnPyELhWu5WrBE7ec.png", class: "avatar-bordered mr-3", alt: "avatar-bordered" %>
                      <p class="media-body pb-3 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">BRAND| MODEL</strong>
                        Description de la montre ...
                      </p>
                    </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
