<div class="container container-dashboard">
  <div class="row profile" display="flex">
    <div class="col-md-3">
      <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->

            <div class="profile-userpic row justify-content-center" >
              <%= image_tag current_user.photo, crop: :fill if current_user.photo.attached? %>
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
              </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->

            <div class="profile-userbuttons">
                <p><%= current_user.name %></p>
              <%= link_to 'Les montre disponibles', watches_path, class:"btn btn-success btn-sm m-2" %>

            </div>
                 <div class="portlet light bordered">
                                                      <!-- STAT -->
                <div class="row list-separated profile-stat">

                </div>
                <!-- END STAT -->
          <div>
            <h6 class="profile-desc-title text-center">About me</h6>
            <span class="profile-desc-text pl-3"><%= current_user.description %></span>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-9">
      <div class="profile-content">
        <div class="container mt-5">
          <h1>Mes commandes</h1>

              <select id="status-filter-btn">
                <option value="#">select a status:</option>
                <option value="pending">pending ⚫️</option>
                <option value="confirmed">paid 🔵</option>
              </select>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Statut</th>
                <th scope="col">Price</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
                <th scope="col">Quantité</th>
              </tr>
            </thead>
            <tbody>
                <% @bookings.each_with_index do |b, index| %>
              <tr class="<%= b.status %>">

                <td>
                  <% if b.status == 'pending' %>
                    <%= "⚫️" %>
                  <% else %>
                    <%= "🔵" %>
                  <% end %>
                </td>
                <td><%= b.price_total%>€ </td>
                <td><%= b.booking_items.first.start_date.strftime("%d/%m/%Y") %></td>
                <td><%= b.booking_items.first.end_date.strftime("%d/%m/%Y") %></td>


                <td>
                  <div id="accordion">
                    <% key = "collapse#{b.id}" %>
                    <button class="btn btn-link" data-toggle="collapse" data-target='#<%= key %>' aria-expanded="true" aria-controls='<%= key %>'>
                      <%= b.booking_items.count %>  >>> View details

                    </button>
                        <div id='<%= key %>' class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            <%= b.watches.count %>
                            <% b.watches.each do |watch| %>
                            <%= watch.brand %>
                            <% end %>
                          </div>
                        </div>
                  </div>
                </td>
              </tr>
                <% end %>
            </tbody>
          </table>





        </div>
      </div>
    </div>



  </div>
</div>
